<script src="/js/jquery-3.5.1.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/main.js"></script>
<script src="https://kit.fontawesome.com/2ddcaa3e51.js" crossorigin="anonymous"></script>

<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1" aria-label="Bootstrap">
        <svg class="bi" width="30" height="24" aria-hidden="true">
          <use xlink:href="#bootstrap"></use>
        </svg>
      </a>
      <span class="mb-3 mb-md-0 text-body-secondary text-primary">© Ahmed Mostafa, 2025</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <a href="https://www.facebook.com/profile.php?id=1052970269">
        <i class="fa-brands fa-facebook fa-lg socialIcon"></i></a>
      <a href="https://www.instagram.com/ahmos333/">
        <i class="fa-brands fa-instagram fa-lg socialIcon"></i>
      </a>
      <a href="https://www.linkedin.com/in/ahmed-mostafa-225703142/">
        <i class="fa-brands fa-linkedin fa-lg socialIcon"></i>
      </a>

    </ul>
  </footer>
</div>

</body>

</html>