<%- include('./shared/header.ejs') %>

    <div class="container homeContainer text-center">
        <div>
            <img src="img/logo-App.png" width="250" alt="">
        </div>



        <% if (isLoggedIn) { %>
            <h3 class="mt-4"> Welcome, <span class="text-danger text-bold">
                    <%= userName %>
                </span>
            </h3>
            <a href="/messages" class="text-primary">Share your profile to get your messages</a>
            <% }else { %>

                <h4>Sar7ny allows you to receive sweet constructive feedback from your friends and co-workers</h4>
                <h5>Be enthusiastic with your words</h5>
                <div class="buttons d-flex justify-content-center align-items-center  flex-column">
                    <a href="/login" class="btn btn-default-outline my-4"><i class="fas fa-user"></i> Login</a>
                    <a href="/register" class="btn btn-default-outline"><i class="far fa-edit"></i> Register</a>
                </div>
                <% } %>
    </div>


    <%- include('./shared/footer.ejs') %>