<%- include('./shared/header.ejs') %>

    <div class="container text-center my-5">
        <div class="user my-3">
            <i class="far fa-edit user-icon"></i>
            <h4 class="login">Register</h4>
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-5 p-5 rounded shadow">
                    <% if (error) { %>
                        <div class="alert alert-danger" role="alert">
                            <%= error %>
                        </div>
                        <% } %>
                            <form method="POST" action="/handleRegister">
                                <input class="form-control mb-2 " placeholder="Enter your Name" type="text" name="name">
                                <input class="form-control mb-2" placeholder="Enter your email" type="email"
                                    name="email">
                                <input class="form-control mb-2" placeholder="Enter your Password" type="password"
                                    name="password">
                                <input class="form-control mb-3" placeholder="Password Confirmation" type="password"
                                    name="confirmPassword">
                                <button class="btn btn-default-outline my-4 w-100 ">Register</button>
                                <p class="">Already have an account? <a class="text-primary forgot btn"
                                        href="/login">Login</a>
                                </p>
                            </form>
                </div>
            </div>
        </div>
    </div>






    <%- include('./shared/footer.ejs') %>