<%- include('./shared/header.ejs') %>

    <div class="container text-center my-5">
        <div class="user my-3">
            <h2>Reset your password</h2>
        </div>
        <div class="card p-5 w-50 m-auto">
            <% if (error) { %>
                <div class="alert alert-danger" role="alert">
                    <%= error %>
                </div>
                <% } %>
                    <form method="POST" action=/reset/<%=id %>>
                        <input class="form-control" type="password" name="newPassword" placeholder="New password"
                            required />
                        <button type="submit" class="btn btn-default-outline my-4 w-100 rounded">Update
                            Password</button>
                    </form>

        </div>
    </div>


    <%- include('./shared/footer.ejs') %>